<article class="section post page">

        <header class="post-header">
            <h1 class="post-title">About</h1>
        </header>

        <section class="post-content">
            <h3 id="theshort">the short</h3>

<p>I'm Shaun, a web and Android developer, guitarist, and occasional songwriter from Norwich, a fine city on the eastern blip of the UK.</p>

<p>I think technology and music are among the most powerful forces in the world. I attempt to wield them both.</p>

<p>I <a href="https://shaun.church/apps">build apps</a> and <a href="https://shaun.church/music">write music</a>.</p>

<h3 id="thelong">the long</h3>

<p>Luckily for me I figured out the things I wanted to do at an early age.</p>

<p>Rewind to 1998. The internet was booming and I was still at school. I wanted to be a rock star! Failing that, a web designer.</p>

<p>I <a href="http://shithotrecords.co.uk/The_American_Quarter">played</a> the <a href="http://shithotrecords.co.uk/mangojam">guitar</a> a lot and I was pretty good, but not good enough. Fortunately, I didn’t spend <em>all</em> my time picking strings – I also figured out how computers work, and started making websites.</p>

<p>I’ve been playing music and building things on the web for more than a decade now and I still love doing both. I couldn’t tell you which I enjoy more: blasting out an improvised guitar solo live on stage or finally getting that tricky bit of experimental code I’ve been working on functioning properly in every web browser under the sun. I couldn’t choose between them.</p>

<p>Today I’m lucky enough to be working on things I love. I’ve freelanced, worked in-house for travel, education and technology companies, worked for a small startup and currently do full stack web and Android development for a London based multi-national digital product agency. </p>

<p>In my spare time I work on <a href="/apps">a couple of Android apps</a> as a labour of love. In 2014 I started writing and performing <a href="/music">my own original music</a>, even receiving airplay on local radio. I love the things I do and I hope to keep doing them for a long time.</p>

<p>If you've read this far maybe follow me on twitter: <a href="http://twitter.com/shaunchurch">@shaunchurch</a>.</p>
        </section>

    </article>